.business-dash-container nav {
  position: sticky;
  top: 0;
  justify-content: start;
}

.business-dash-container nav h5 {
  color: #ffcc04;
  height: 2rem;
  margin-left: 3rem;
}

.business-dash-container .user-view {
  background-color: #45ffff;
}

.user-view .logo {
  display: flex;
  justify-content: center;
  height: 40%;
}

.user-view span {
  color: #0066a0 !important;
}

.business-qr {
  display: flex;
  justify-content: center;
  background-color: #45ffff;
  padding: 3rem 1rem;
}

.business-dash-body .heading {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #918f8f;
}

.business-dash-body .heading span {
  margin-right: 1rem;
}

.business-data {
  padding: 1rem 3rem;
  font-weight: bold;
}

.queue-data {
  padding: 0 3rem;
}
.queue-data p {
  margin: 0.5rem 0;
}
.queue-data div {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.ad-promo {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 380px) {
  .business-dash-container nav h5 {
    margin-left: 1rem;
  }
}
