.business-dash-container nav h5 {
    color: white;
}

.business-qr {
    display: flex;
    justify-content: center;
    background-color: #45FFFF;
    padding: 2rem;
}

.business-dash-body .heading {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #918f8f;
}

.business-data {
    padding: 1rem 2rem;
    font-weight: bold;
}

.queue-data {
    padding: 0 2rem;
}
.queue-data p {
    margin: 0.5rem 0
}
.queue-data div {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}