.business-login-form {
    display: flex;
    flex-direction: column;
    background-color: #dad8c5;
}

.form-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-btn button {
    width: 25vw;
    color:#0267a2;
}

.reset-links {
    display: flex;
    width: 75vw;
    justify-content: space-around;
    margin: 1rem 0;
}

.reset-links p {
    color: #1589ca;
    text-decoration: underline;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-color: #1589ca;
  box-shadow: none;
}

.input-field input:not(:focus) {
    border-bottom: 0.5px solid grey !important;
  }

  .bubbles {
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: space-around;
}

.bubbles div {
    display: flex;
    align-items: center;
    border: solid 1px #1589ca;
    background: white;
    border-radius: 10px;
    color: #4e4e50;
    padding: 0.5rem;
    line-height: 1rem;
    font-size: 0.8rem;
    width: 35%;
}

.business-login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #dad8c5;
    height: 100vh;
}

.business-hero {
    width: 100vw;
    height: 30vh;
    background: url('../images/business-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h5 {
    color: black;
    height: 3rem;
}