.nav-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6rem;
  position: sticky !important;
}

.task-master {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.task-master h3 {
  font-size: 1.25rem;
  color: #0066A0;
  margin-bottom: 0;
  font-weight: bold;
}

.login-form {
  display: flex;
  flex-direction: column;
  background-color: #fffeef;
}

.form-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-btn button {
  width: 25vw;
  color: #0267a2;
}

.reset-links {
  display: flex;
  width: 75vw;
  justify-content: space-around;
  margin: 1rem 0;
}

.reset-links p {
  color: #0066A0;
  text-decoration: underline;
}

input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-color: #1589ca;
  box-shadow: none;
}

.bubbles {
  width: 100vw;
  height: 20vh;
  display: flex;
  justify-content: space-around;
}

.bubbles div {
  display: flex;
  align-items: center;
  border: solid 1px #1589ca;
  background: white;
  border-radius: 10px;
  color: #4e4e50;
  padding: 0.5rem;
  line-height: 1rem;
  font-size: 0.8rem;
  width: 35%;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fffeef;
  height: 100vh;
}

.hero {
  width: 100vw;
  height: 25vh;
  background: url("../images/user_login_img.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.login-container .nav-wrapper h5 {
  font-size: 1.3rem;
  color: black;
  height: 3rem;
  opacity: 0;
  animation: HeaderAnimation;
  animation-duration: 5s;
  animation-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}

.login-container .input-field label {
  color: #0066A0;
}

@keyframes HeaderAnimation {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 370px) {
  .login-container .nav-wrapper h5 {
    font-size: 1.2rem;
  }
  .form-btn .btn {
    font-size: 0.8rem;
  }
  .reset-links p {
    font-size: 0.8rem;
  }
}