.navbar-fixed {
    background-color: #fffeef;
    height: 100vh;
}

h5 {
    color: black;
}

.hero {
    width: 100vw;
    height: 20vh;
    background: url('../images/shoppingsplash.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bubbles {
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: space-around;
}

.bubbles div {
    display: flex;
    align-items: center;
    border: solid 1px #1589ca;
    background: white;
    border-radius: 50%;
    color: #4e4e50;
    padding: 1.5rem;
    line-height: 1rem;
    font-size: 0.8rem;
    width: 35%;
}